@{
    ViewData["Title"] = "Person";
}


<div class="text-center">
    <h1 class="display-4">People</h1>
</div>

<br><br>

<table id="personTable" class="table">
    <thead>
        <tr>
            <th>State</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <!-- Rows will go here -->
    </tbody>
</table>


<button type="button" class="btn btn-primary" id="openModalButton">
  Open Popup
</button>

<!-- Modal popup -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Andrew's dialog
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>
<script>
    $(document).ready(function () {
        console.log("I am here");
        $("#openModalButton").click(function() {
        // Show the modal
            $("#myModal").modal('show');
        });

    // AJAX call to populate the table
        $.ajax({
        url: '/Person/GetPeople',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var tableBody = $('#personTable > tbody');
            for (var i = 0; i < data.length; i++) {
                var person = data[i];
                var row = '<tr><td>' + person.state + '</td><td>' + person.name + '</td><td>' + person.age + '</td></tr>';
                tableBody.append(row);
            }
            
        },
        error: function (error) {
            console.log(error);
        }
    });

    });


</script>